html, body {
    width: 100vw;
    max-width: 500px;
    height: 0vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 800px;
    margin: 0;
    background: #003300;
}

#layout {

    height: 100%;
    padding: 0.8em;

    display: grid;
    gap: 1em;
    box-sizing: border-box;

    /* rows and columns */
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto auto 1fr auto auto;
    #layer {grid-row: 1; grid-column: 1;}
    #locate {grid-row: 1; grid-column: 2;}
    #minus {grid-row: 1; grid-column: 4;}
    #plus {grid-row: 1; grid-column: 5;}
    #scorecard {grid-row: 2; grid-column: 1 / -1;}
    #map {grid-row: 3; grid-column: 1 / -1;}
}

#plus, #minus, #layer, #locate {
    aspect-ratio: 1 / 1;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    text-align: center;
    background: rgba(255,255,255,0.8);
    color: black;
    
    /* for images like crosshairs */
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus::before {content: "+"; font-weight: bold;}
#minus::before {content: "−"; font-weight: bold;}
#layer::before {content: "❖";}

#locate img {height: 85%;}

#scorecard {

    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    td {
        color: white;
        border: 1px solid gray;
        text-align: center;
    }

    #hole-number {
        font-family: sans-serif;
        font-style: italic;
        font-size: 16px;
    }
    
    #hole-score {
        font-family: sans-serif;
        font-size: 24px;
        height: 1.5lh;
    }
    
    #hole-number td.selected {
        background: #ffdd88;
        color: black;
    }
}

#map {

    .golf-hole    {stroke: #00000000;}
    .golf-tee     {stroke: #777777; fill: #777777; fill-opacity: 0.2;}
    .golf-fairway {stroke: #005000; fill: #005000; fill-opacity: 0.2;}
    .golf-bunker  {stroke: #cbc103; fill: #cbc103; fill-opacity: 0.2;}
    .golf-green   {stroke: #167461; fill: #167461; fill-opacity: 0.2;}

    .svg-icon * {
        vector-effect: non-scaling-stroke;
        overflow: visible;
    }

    --path-color: #006fff;
    .path-line {
        stroke: var(--path-color);
    }
    .path-marker {
        width: 20px;
        stroke-width: 3px;
        stroke: var(--path-color);
        fill-opacity: 0;
    }

}






